.confirmation {
    background-color: yellow !important;
    border-radius: 20px;
    padding: 5px;
 }
.confirmed {
     background-color: rgb(110, 222, 110) !important;
     border-radius: 20px;
     padding: 5px;
    }
.sent {
     background-color: rgba(144, 144, 219, 0.975) !important;
     border-radius: 20px;
     padding: 5px;
    }
.paid {
     background-color: rgb(253, 83, 94) !important;
     border-radius: 20px;
     padding: 5px;
    }
.returned {
     background-color: rgb(242, 133, 66) !important;
     border-radius: 20px;
     padding: 5px;
    }
